<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
       <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a href="{% url 'home' %}" class="text-white font-bold text-xl">LEARNING HUB</a> <div class="hidden md:flex space-x-4">
          <a href="{% url 'home' %}" class="text-white "> 
            Home</a>
            <a href="" class="text-white "> 
            Blog</a>
          {% if request.user.is_authenticated %}
          <a href="{% url 'dashboard' %}" class="text-white">Dashboard</a>
          {% endif %}
          {% if not request.user.is_authenticated %}
           <a href="{% url 'signup' %}" class="text-white">
            Signup</a
          >
          <a href="{% url 'login' %}" class="text-white">Login</a>
 
          {% else %}
          <a href="{% url 'logout' %}" class="text-white">Logout</a>
          {% endif %}
        </div>
        <div class="md:hidden">
          <button class="text-white" id="btn">
            <svg
              class="h-6 w-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </nav>

    
      {% block content %} {% endblock %}
  </body>
</html>